@model GameApp.Models.Series

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutManagement.cshtml";
}

<h1 class="text-light">Delete</h1>

<h3 class="text-light">Are you sure you want to delete this?</h3>
<div class="text-light">
    <h4>Series</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeriesName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeriesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfTitles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfTitles)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SeriesId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
