@model GameApp.Models.StudioRole

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutManagement.cshtml";
}

<h1 class="text-light">Edit</h1>

<h4 class="text-light">StudioRole</h4>
<hr />
<div class="row text-light">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudioRoleId" />
            <div class="form-group">
                <label asp-for="StudioRoleName" class="control-label"></label>
                <input asp-for="StudioRoleName" class="form-control" />
                <span asp-validation-for="StudioRoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
